body {
    padding: 0;
    padding-top: 44px;
    margin: 0;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
    background: linear-gradient(to right, #045876, #1F7A8C);
    box-shadow: 0 2px 5px black;
}
.navbar a {
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
    text-shadow: 1px 1px 3px #000;
}
.navbar a:hover {
	color: black;
	background: linear-gradient(to right, #EDF5FD, #FFFFFF);
	text-shadow: none;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, .5);
}

.pageHeading {
	background: linear-gradient(to right, #EDF5FD, #FFFFFF);
	box-shadow: 0 0px 5px rgba(0, 0, 0, .8);

}

h1 {
	font-size: 3em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding: 0.2em;
}

.field {
    background: linear-gradient(#FFFFFF, #EDF5FD);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

footer {
    background: #fafafa;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding: 1em;
    box-shadow: 0 0 5px #888;
}